<p style="text-align:center;"><img src='../assets/image/logo.png' width = 20%></p>
<agm-map [zoom]="18" [latitude]="currentPosition?.latitude" [longitude]="currentPosition?.longitude">
  <agm-marker [latitude]="currentPosition?.latitude" [longitude]="currentPosition?.longitude">
      <agm-info-window>This is YOU</agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let location of locations" [latitude]="location.lat" [longitude]="location.lng">
    <agm-info-window>{{location.name}}</agm-info-window>
  </agm-marker>
</agm-map>